<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCGJ | Skill Council for Green Jobs</title>
    
    <!-- Add stylesheets here -->

        <link href="css/mainApp.css" type="text/css" rel="stylesheet">
    
    <!-- Add javascripts here -->
    
    <script type="text/javascript" src="js/controller/mainApp.js"></script>
    
    <!--Add Angular main Controllers file here-->
    
</head>
    
<body ng-app="main">


   <!---Main template code goes here-->





	<script type="text/javascript" src="js/controller/dashboard.js"></script>
	<script type="text/javascript" src="js/controller/dataImport.js"></script>
	<script type="text/javascript" src="js/controller/faq.js"></script>
	<script type="text/javascript" src="js/controller/generateCertificate.js"></script>
	<script type="text/javascript" src="js/controller/generateReports.js"></script>
	<script type="text/javascript" src="js/controller/manageAssessment.js"></script>
	

</body>

<footer>


   <!-- footer code here -->


</footer>
</html>